@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --muted: 245 245 245;
    --border: 229 229 229;
  }

  .dark {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --muted: 23 23 23;
    --border: 38 38 38;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
